# Section 5: Debug Errors

Dataset: The 5 most succesful athletes in summer olympic games (medals)

In [2]:
my_dict = {"Phelps, Michael": 22,
          "Latynina, Larisa": 18,
          "Andrianov, Nikolay": 15,
          "Mangiarotti, Edoarado": 13,
          "Ono, Takashi" : 13}

In [3]:
my_dict

{'Phelps, Michael': 22,
 'Latynina, Larisa': 18,
 'Andrianov, Nikolay': 15,
 'Mangiarotti, Edoarado': 13,
 'Ono, Takashi': 13}

* Question #1: How many medals did Michael Phepls win

In [12]:
my_dict["Phelps,Michael"]

KeyError: 'Phelps,Michael'

In [11]:
my_dict["Phelps, Michael"]

22

* Question #2: How many medals did Michael Phelps and Takashi Ono win together?

In [14]:
my_dict["Phelps, Michael"] + my_dict["Ono, Takashi"]

35

In [15]:
import pandas as pd

In [16]:
my_series = pd.Series(my_dict)

In [17]:
my_series.sort_index(ascending= True)

Andrianov, Nikolay       15
Latynina, Larisa         18
Mangiarotti, Edoarado    13
Ono, Takashi             13
Phelps, Michael          22
dtype: int64

# Omitting cells, changing the sequence of cells and more

In [18]:
import pandas as pd

In [19]:
my_dict = {"Name": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Junior", "Kylian Mbappe", "Manuel Neuer"],
          "Nationality": ["Argentina", "Portugal", "Brasil", "France", "Germany"],
          "Club": ["FC Barcelona", "Juventus FC", "Paris SG", "Paris SG", "FC Bayern"],
          "World_Chapion": [False, False, False, True, True],
          "Height": [1.70,1.87,1.75,1.78,1.93],
          "Goals_2018": [45,44,28,21,0]}

In [20]:
df = pd.DataFrame(data = my_dict)
df

,Name,Nationality,Club,World_Chapion,Height,Goals_2018
0,Lionel Messi,Argentina,FC Barcelona,False,1.70,45
1,Cristiano Ronaldo,Portugal,Juventus FC,False,1.87,44
2,Neymar Junior,Brasil,Paris SG,False,1.75,28
3,Kylian Mbappe,France,Paris SG,True,1.78,21
4,Manuel Neuer,Germany,FC Bayern,True,1.93,0

In [21]:
df.set_index("Name", inplace = True) #Make the Name column the index column

In [22]:
df

                  Nationality          Club  World_Chapion  Height  Goals_2018
Name
Lionel Messi        Argentina  FC Barcelona          False    1.70          45
Cristiano Ronaldo    Portugal   Juventus FC          False    1.87          44
Neymar Junior          Brasil      Paris SG          False    1.75          28
Kylian Mbappe          France      Paris SG           True    1.78          21
Manuel Neuer          Germany     FC Bayern           True    1.93           0

In [26]:
df.loc["Lionel Messi"]

Nationality         Argentina
Club             FC Barcelona
World_Chapion           False
Height                    1.7
Goals_2018                 45
Name: Lionel Messi, dtype: object